USE [master]
GO
/****** Object:  Database [OnlineExamSystem]    Script Date: 15-06-2026 13:24:44 ******/
CREATE DATABASE [OnlineExamSystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OnlineExamSystem', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\OnlineExamSystem.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OnlineExamSystem_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\OnlineExamSystem_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OnlineExamSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OnlineExamSystem]
GO
/****** Object:  User [nitin]    Script Date: 15-06-2026 13:24:45 ******/
CREATE USER [nitin] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [examsoft]    Script Date: 15-06-2026 13:24:45 ******/
CREATE USER [examsoft] FOR LOGIN [examsoft] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [nitin]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [nitin]
GO
ALTER ROLE [db_owner] ADD MEMBER [examsoft]
GO
ALTER ROLE [db_datareader] ADD MEMBER [examsoft]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [examsoft]
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 15-06-2026 13:24:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[AdminID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[ContactNumber] [nvarchar](20) NULL,
	[CreatedDate] [datetime] NULL,
	[IsActive] [bit] NULL,
	[ActivationId] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[AdminID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Exams]    Script Date: 15-06-2026 13:24:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exams](
	[ExamID] [int] IDENTITY(1,1) NOT NULL,
	[SubjectID] [int] NULL,
	[SubjectName] [nvarchar](200) NOT NULL,
	[ExamTitle] [nvarchar](200) NOT NULL,
	[ExamDate] [date] NOT NULL,
	[StartTime] [time](7) NOT NULL,
	[EndTime] [time](7) NOT NULL,
	[DurationInMinutes] [int] NOT NULL,
	[IsActive] [bit] NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ExamID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Questions]    Script Date: 15-06-2026 13:24:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Questions](
	[QuestionID] [int] IDENTITY(1,1) NOT NULL,
	[ExamID] [int] NULL,
	[QuestionText] [nvarchar](max) NOT NULL,
	[OptionA] [nvarchar](200) NOT NULL,
	[OptionB] [nvarchar](200) NOT NULL,
	[OptionC] [nvarchar](200) NOT NULL,
	[OptionD] [nvarchar](200) NOT NULL,
	[CorrectOption] [char](1) NOT NULL,
	[Marks] [int] NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[QuestionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentExamAnswers]    Script Date: 15-06-2026 13:24:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentExamAnswers](
	[AnswerID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NOT NULL,
	[ExamID] [int] NOT NULL,
	[QuestionID] [int] NOT NULL,
	[GivenAnswerOption] [char](1) NOT NULL,
	[CorrectAnswerOption] [char](1) NOT NULL,
	[IsCorrect] [bit] NULL,
	[MarksAwarded] [int] NULL,
	[SubmittedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[AnswerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentResults]    Script Date: 15-06-2026 13:24:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentResults](
	[ResultID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NULL,
	[TestName] [nvarchar](100) NULL,
	[Subject] [nvarchar](100) NULL,
	[Score] [int] NULL,
	[TotalMarks] [int] NULL,
	[DateTaken] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ResultID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 15-06-2026 13:24:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[StudentId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](100) NOT NULL,
	[ContactNumber] [nvarchar](20) NULL,
	[CreateDate] [datetime] NULL,
	[IsActive] [bit] NULL,
	[ActivationId] [uniqueidentifier] NULL,
	[FaceEmbedding] [nvarchar](max) NULL,
	[FacePath] [varchar](200) NULL,
 CONSTRAINT [PK_Students] PRIMARY KEY CLUSTERED 
(
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subjects]    Script Date: 15-06-2026 13:24:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subjects](
	[SubjectID] [int] IDENTITY(1,1) NOT NULL,
	[SubjectName] [nvarchar](100) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[IsActive] [bit] NULL,
	[CreatedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SubjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Subjects_CreatedBy_SubjectName] UNIQUE NONCLUSTERED 
(
	[CreatedBy] ASC,
	[SubjectName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Admins] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Admins] ADD  DEFAULT ((0)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Exams] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Exams] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Questions] ADD  DEFAULT ((1)) FOR [Marks]
GO
ALTER TABLE [dbo].[Questions] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[StudentExamAnswers] ADD  DEFAULT (getdate()) FOR [SubmittedAt]
GO
ALTER TABLE [dbo].[Students] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[Students] ADD  DEFAULT ((0)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Subjects] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Subjects] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Exams]  WITH CHECK ADD FOREIGN KEY([SubjectID])
REFERENCES [dbo].[Subjects] ([SubjectID])
GO
ALTER TABLE [dbo].[Questions]  WITH CHECK ADD FOREIGN KEY([ExamID])
REFERENCES [dbo].[Exams] ([ExamID])
GO
ALTER TABLE [dbo].[Questions]  WITH CHECK ADD FOREIGN KEY([ExamID])
REFERENCES [dbo].[Exams] ([ExamID])
GO
ALTER TABLE [dbo].[StudentExamAnswers]  WITH CHECK ADD  CONSTRAINT [FK_StudentAnswer_Exam] FOREIGN KEY([ExamID])
REFERENCES [dbo].[Exams] ([ExamID])
GO
ALTER TABLE [dbo].[StudentExamAnswers] CHECK CONSTRAINT [FK_StudentAnswer_Exam]
GO
ALTER TABLE [dbo].[Subjects]  WITH CHECK ADD  CONSTRAINT [FK_Subjects_Admins] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Admins] ([AdminID])
GO
ALTER TABLE [dbo].[Subjects] CHECK CONSTRAINT [FK_Subjects_Admins]
GO
/****** Object:  StoredProcedure [dbo].[GetStudentExamReport]    Script Date: 15-06-2026 13:24:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--exec GetStudentExamReport 1, 1007

CREATE PROCEDURE [dbo].[GetStudentExamReport]

  @StudentId INT,

  @ExamId INT

AS

BEGIN

  SET NOCOUNT ON;
 
  -- Per-question report

  SELECT

    Q.QuestionID,

    Q.QuestionText,

    Q.OptionA,

    Q.OptionB,

    Q.OptionC,

    Q.OptionD,

    'Option'+SEA.GivenAnswerOption AS SelectedOption,

	'Option'+SEA.CorrectAnswerOption As CorrectAnsOpion,

    CASE 

      WHEN SEA.IsCorrect = 1 THEN 'Correct'

      ELSE 'Incorrect'

    END AS SelectionStatus,

    ISNULL(SEA.MarksAwarded, 0) AS MarksObtained

  FROM Questions Q

  INNER JOIN StudentExamAnswers SEA

    ON Q.QuestionID = SEA.QuestionID

   AND SEA.StudentID = @StudentId

   AND SEA.ExamID = @ExamId

  WHERE Q.ExamID = @ExamId;
 
  -- Total marks summary with percentage and result

  DECLARE @TotalObtained INT;

  DECLARE @TotalPossible INT;

  DECLARE @Percentage DECIMAL(5,2);

  DECLARE @ResultStatus VARCHAR(20);
 
  SELECT 

    @TotalObtained = SUM(ISNULL(SEA.MarksAwarded, 0))

  FROM StudentExamAnswers SEA

  WHERE SEA.StudentID = @StudentId

    AND SEA.ExamID = @ExamId;
 
  SELECT 

    @TotalPossible = SUM(ISNULL(Q.Marks, 0))

  FROM Questions Q

  WHERE Q.ExamID = @ExamId;
 
  SET @Percentage = 

    CASE WHEN @TotalPossible = 0 THEN 0 

         ELSE CAST(@TotalObtained AS DECIMAL(5,2)) * 100 / @TotalPossible 

    END;
 
  SET @ResultStatus =

    CASE 

      WHEN @Percentage < 40 THEN 'Fail'

      WHEN @Percentage >= 40 AND @Percentage < 60 THEN 'Average'

      WHEN @Percentage >= 60 AND @Percentage < 80 THEN 'Pass'

      ELSE 'Good'

    END;
 
  SELECT 

    @TotalObtained AS TotalMarksObtained,

    @TotalPossible AS TotalPossibleMarks,

    @Percentage AS Percentage,

    @ResultStatus AS Result;

END;

 
GO
/****** Object:  StoredProcedure [dbo].[sp_ActivateAdminByActivationId]    Script Date: 15-06-2026 13:24:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create PROCEDURE [dbo].[sp_ActivateAdminByActivationId]
    @ActivationId UNIQUEIDENTIFIER
AS
BEGIN
UPDATE Admins
SET IsActive = 1
WHERE ActivationId = @ActivationId AND IsActive = 0;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ActivateStudentByActivationId]    Script Date: 15-06-2026 13:24:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[sp_ActivateStudentByActivationId]
    @ActivationId UNIQUEIDENTIFIER
AS
BEGIN
UPDATE Students
SET IsActive = 1
WHERE ActivationId = @ActivationId AND IsActive = 0;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_checkAdminRegistered]    Script Date: 15-06-2026 13:24:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_checkAdminRegistered]
    @Email NVARCHAR(255)
AS
BEGIN
    
    DECLARE @IsActive INT;

    IF EXISTS (SELECT 1 FROM Admins WHERE Email = @Email)
    BEGIN
        SELECT @IsActive = IsActive FROM Admins WHERE Email = @Email;

        IF @IsActive = 0
        BEGIN

            DELETE FROM Admins WHERE Email = @Email;
            
            RETURN 0;
        END
        ELSE IF @IsActive = 1
        BEGIN
            
            RETURN 1;
        END
    END
    ELSE
    BEGIN
        
        RETURN 0;
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_CheckStudentExamTaken]    Script Date: 15-06-2026 13:24:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CheckStudentExamTaken]
    @StudentID INT,
    @ExamID INT,
    @Result INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (
        SELECT 1
        FROM StudentExamAnswers
        WHERE StudentID = @StudentID AND ExamID = @ExamID
    )
    BEGIN
        SET @Result = 1; -- Exam already taken
    END
    ELSE
    BEGIN
        SET @Result = 0; -- Exam not taken yet
    END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_checkStudentRegistered]    Script Date: 15-06-2026 13:24:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_checkStudentRegistered]
    @Email NVARCHAR(255)
AS
BEGIN
    
    DECLARE @IsActive INT;

    IF EXISTS (SELECT 1 FROM Students WHERE Email = @Email)
    BEGIN
        SELECT @IsActive = IsActive FROM Students WHERE Email = @Email;

        IF @IsActive = 0
        BEGIN

            DELETE FROM Students WHERE Email = @Email;
            
            SELECT 0 AS result;
        END
        ELSE IF @IsActive = 1
        BEGIN
            
            SELECT 1 AS result;
        END
    END
    ELSE
    BEGIN
        
        SELECT 0 AS result;
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteQuestion]    Script Date: 15-06-2026 13:24:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteQuestion]
    @QuestionID INT
AS
BEGIN
    DELETE FROM Questions
    WHERE QuestionID = @QuestionID
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteSubject]    Script Date: 15-06-2026 13:24:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteSubject]
    @SubjectID INT
AS
BEGIN
    SET NOCOUNT ON;

	DELETE FROM StudentExamAnswers 
	WHERE ExamID IN (SELECT ExamID FROM Exams WHERE SubjectID = @SubjectID);

  DELETE FROM Questions 
    WHERE ExamID IN (SELECT ExamID FROM Exams WHERE SubjectID = @SubjectID);

	DELETE FROM Exams
	WHERE SubjectID = @SubjectID;

	  DELETE FROM Subjects
    WHERE SubjectID = @SubjectID;
	
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAdminByEmail]    Script Date: 15-06-2026 13:24:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetAdminByEmail]
    @Email NVARCHAR(100)
AS
BEGIN
    SELECT * FROM Admins WHERE Email = @Email;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllExams]    Script Date: 15-06-2026 13:24:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetAllExams]
AS
BEGIN
    SELECT 
        e.ExamID,
        e.SubjectName, 
        e.ExamTitle, 
        e.ExamDate, 
        e.StartTime, 
        e.EndTime, 
        e.DurationInMinutes, 
        e.CreatedDate
    FROM 
        Exams e
    WHERE 
        EXISTS (
            SELECT 1 
            FROM Questions q 
            WHERE q.ExamID = e.ExamID
        )
    ORDER BY 
        e.ExamDate ASC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_getAllStudents]    Script Date: 15-06-2026 13:24:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_getAllStudents]
AS
BEGIN
	SET NOCOUNT ON;

	SELECT
		StudentId,
		FullName,
		Email,
		ContactNumber
	FROM Students;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetExams]    Script Date: 15-06-2026 13:24:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetExams]
    @StatusFilter INT,  -- 1 = Active, 0 = Inactive, -1 = All
    @AdminID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        E.ExamID,
        E.ExamTitle,
        E.ExamDate,
        E.StartTime,
        E.EndTime,
        E.DurationInMinutes,
        E.IsActive,
        E.CreatedDate,
        S.SubjectName
    FROM 
        Exams E
    INNER JOIN 
        Subjects S ON E.SubjectID = S.SubjectID
    WHERE 
        S.CreatedBy = @AdminID
        AND (
            @StatusFilter = -1 
            OR E.IsActive = @StatusFilter
        )
    ORDER BY 
        E.ExamDate DESC, E.StartTime ASC;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_getForgotPassword]    Script Date: 15-06-2026 13:24:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_getForgotPassword]
	@Email NVARCHAR(50),
	@Password NVARCHAR(20) OUTPUT
AS
BEGIN
	SELECT @Password = PasswordHash
	FROM Admins
	WHERE Email = @Email;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetQuestionsByExamId]    Script Date: 15-06-2026 13:24:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--exec [sp_GetQuestionsByExamId] '1007'
CREATE PROCEDURE [dbo].[sp_GetQuestionsByExamId]
    @ExamID INT
AS
BEGIN
    SELECT 
        QuestionID,
        ExamID,
        QuestionText,
        OptionA,
        OptionB,
        OptionC,
        OptionD,
        CorrectOption,
        Marks,
        CreatedDate
    FROM Questions
    WHERE ExamID = @ExamID
    ORDER BY CreatedDate asc
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetStudentActivationId]    Script Date: 15-06-2026 13:24:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetStudentActivationId]
    @Email NVARCHAR(50),
    @ActivationId UNIQUEIDENTIFIER OUTPUT
AS
BEGIN
    SELECT @ActivationId = ActivationId
    FROM Students
    WHERE Email = @Email;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetStudentByEmail]    Script Date: 15-06-2026 13:24:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetStudentByEmail]
    @Email NVARCHAR(100)
AS
BEGIN
    SELECT * FROM Students WHERE Email = @Email;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_getStudentForgotPassword]    Script Date: 15-06-2026 13:24:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_getStudentForgotPassword]
	@Email NVARCHAR(50),
	@Password NVARCHAR(20) OUTPUT
AS
BEGIN
	SELECT @Password = PasswordHash
	FROM Students
	WHERE Email = @Email;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_GetStudentResults]    Script Date: 15-06-2026 13:24:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetStudentResults]
    @StudentID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        ResultID,
        TestName,
        Subject,
        Score,
        TotalMarks,
        CAST((CAST(Score AS FLOAT) / TotalMarks) * 100 AS DECIMAL(5,2)) AS Percentage,
        DateTaken
    FROM 
        StudentResults
    WHERE 
        StudentID = @StudentID
    ORDER BY 
        DateTaken DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetSubjects]    Script Date: 15-06-2026 13:24:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetSubjects]
    @StatusFilter INT,
    @AdminID INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        s.SubjectID,  -- keep this for existing bindings
        s.SubjectName,
        s.IsActive,
        (SELECT TOP 1 ExamID 
         FROM Exams 
         WHERE SubjectID = s.SubjectID) AS ExamID
    FROM 
        Subjects s
    WHERE 
        ((@StatusFilter = -1) OR (s.IsActive = @StatusFilter)) 
        AND s.CreatedBy = @AdminID
    ORDER BY 
        s.SubjectName;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_GetUserEmbedding]    Script Date: 15-06-2026 13:24:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetUserEmbedding]
    @Email NVARCHAR(100)
AS
BEGIN
    SELECT FaceEmbedding FROM Students
    WHERE Email = @Email
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertAdmin]    Script Date: 15-06-2026 13:24:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertAdmin]
    @FullName NVARCHAR(100),
    @Email NVARCHAR(100),
    @PasswordHash NVARCHAR(255),
    @ContactNumber NVARCHAR(20),
      @ActivationId UNIQUEIDENTIFIER
AS
BEGIN
    INSERT INTO Admins (FullName, Email, PasswordHash, ContactNumber,ActivationId)
    VALUES (@FullName, @Email, @PasswordHash, @ContactNumber,@ActivationId);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertExam]    Script Date: 15-06-2026 13:24:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertExam]
    @SubjectID INT,
	@SubjectName NVARCHAR(200),
    @ExamTitle NVARCHAR(200),
    @ExamDate DATE,
    @StartTime TIME,
    @EndTime TIME,
    @DurationInMinutes INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Optional: Check for duplicate exam for same subject and date
    IF EXISTS (
        SELECT 1 FROM Exams 
        WHERE SubjectID = @SubjectID 
        AND ExamDate = @ExamDate 
        AND ExamTitle = @ExamTitle
    )
    BEGIN
        RAISERROR('An exam with the same title already exists on this date for the selected subject.', 16, 1);
        RETURN;
    END

    -- Insert the new exam
    INSERT INTO Exams (
        SubjectID, SubjectName, ExamTitle, ExamDate, StartTime, EndTime, DurationInMinutes
    )
    VALUES (
        @SubjectID, @SubjectName, @ExamTitle, @ExamDate, @StartTime, @EndTime, @DurationInMinutes
    );
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertQuestion]    Script Date: 15-06-2026 13:24:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertQuestion]
    @ExamID INT,
    @QuestionText NVARCHAR(MAX),
    @OptionA NVARCHAR(200),
    @OptionB NVARCHAR(200),
    @OptionC NVARCHAR(200),
    @OptionD NVARCHAR(200),
    @CorrectOption CHAR(1),
    @Marks INT
AS
BEGIN
    INSERT INTO Questions
    (
        ExamID,
        QuestionText,
        OptionA,
        OptionB,
        OptionC,
        OptionD,
        CorrectOption,
        Marks,
        CreatedDate
    )
    VALUES
    (
        @ExamID,
        @QuestionText,
        @OptionA,
        @OptionB,
        @OptionC,
        @OptionD,
        @CorrectOption,
        @Marks,
        GETDATE()
    )
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertStudent]    Script Date: 15-06-2026 13:24:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertStudent]
    @FullName NVARCHAR(100),
    @Email NVARCHAR(100),
    @PasswordHash NVARCHAR(100),
    @ContactNumber NVARCHAR(20),
    @ActivationId UNIQUEIDENTIFIER,
	  @FaceEmbedding NVARCHAR(MAX),
    @FacePath VARCHAR(200)
AS
BEGIN
    INSERT INTO Students(FullName, Email, PasswordHash, ContactNumber, ActivationId,FaceEmbedding,FacePath)
    VALUES (@FullName, @Email, @PasswordHash, @ContactNumber,  @ActivationId,@FaceEmbedding,@FacePath);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertStudentAnswer]    Script Date: 15-06-2026 13:24:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertStudentAnswer]
    @StudentID INT,
    @ExamID INT,
    @QuestionID INT,
    @GivenAnswerOption CHAR(1)
AS
BEGIN
    DECLARE @CorrectOption CHAR(1);
    DECLARE @IsCorrect BIT;
    DECLARE @Marks INT;
 
    SELECT 
        @CorrectOption = CorrectOption,
        @Marks = CASE WHEN CorrectOption = @GivenAnswerOption THEN Marks ELSE 0 END,
        @IsCorrect = CASE WHEN CorrectOption = @GivenAnswerOption THEN 1 ELSE 0 END
    FROM Questions
    WHERE QuestionID = @QuestionID;
 
    INSERT INTO StudentExamAnswers (StudentID, ExamID, QuestionID, GivenAnswerOption, CorrectAnswerOption, IsCorrect, MarksAwarded)
    VALUES (@StudentID, @ExamID, @QuestionID, @GivenAnswerOption, @CorrectOption, @IsCorrect, @Marks);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertSubject]    Script Date: 15-06-2026 13:24:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_InsertSubject]
    @SubjectName NVARCHAR(100),
    @CreatedBy INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Check for duplicate subject name (optional but recommended)
    IF EXISTS (SELECT 1 FROM Subjects WHERE SubjectName = @SubjectName AND IsActive = 1 AND CreatedBy = @CreatedBy)
    BEGIN
        RAISERROR('Subject already exists.', 16, 1);
        RETURN;
    END

    -- Insert new subject with CreatedBy
    INSERT INTO Subjects (SubjectName, CreatedBy)
    VALUES (@SubjectName, @CreatedBy);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ResendEmail]    Script Date: 15-06-2026 13:24:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ResendEmail]
    @Email NVARCHAR(50),
    @ActivationId UNIQUEIDENTIFIER OUTPUT
AS
BEGIN
    SELECT @ActivationId = ActivationId
    FROM Admins
    WHERE Email = @Email;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_SetAdminStatus]    Script Date: 15-06-2026 13:24:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_SetAdminStatus]
    @AdminID INT,
    @IsActive BIT
AS
BEGIN
    UPDATE Admins
    SET IsActive = @IsActive
    WHERE AdminID = @AdminID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_SetExamStatus]    Script Date: 15-06-2026 13:24:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_SetExamStatus]
    @ExamID INT,
    @IsActive BIT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Exams
    SET IsActive = @IsActive
    WHERE ExamID = @ExamID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_SetSubjectStatus]    Script Date: 15-06-2026 13:24:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_SetSubjectStatus]
    @SubjectID INT,
    @IsActive BIT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Subjects
    SET IsActive = @IsActive
    WHERE SubjectID = @SubjectID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_studentLogin]    Script Date: 15-06-2026 13:24:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_studentLogin]
    @Email NVARCHAR(255),
    @Password NVARCHAR(255)
AS
BEGIN
    -- Declare a variable to store the stored password
    DECLARE @StoredPassword NVARCHAR(255);

    -- Check if the email exists in the database
    IF EXISTS (SELECT 1 FROM Students WHERE Email = @Email)
    BEGIN
        -- Get the stored password for the email
        SELECT @StoredPassword = PasswordHash FROM Students WHERE Email = @Email;

        -- Check if the entered password matches the stored password
        IF @Password = @StoredPassword
        BEGIN
            -- If the passwords match, return 1 (success)
            RETURN 1;
        END
        ELSE
        BEGIN
            -- If the passwords don't match, return 0 (wrong password)
            RETURN 0;
        END
    END
    ELSE
    BEGIN
        -- If the email does not exist in the database, return 0 (wrong email)
        RETURN 0;
    END
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateAdmin]    Script Date: 15-06-2026 13:24:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateAdmin]
    @AdminID INT,
    @FullName NVARCHAR(100),
    @Email NVARCHAR(100),
    @ContactNumber NVARCHAR(20)
AS
BEGIN
    UPDATE Admins
    SET FullName = @FullName,
        Email = @Email,
        ContactNumber = @ContactNumber
    WHERE AdminID = @AdminID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateExam]    Script Date: 15-06-2026 13:24:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[sp_UpdateExam]
    @ExamID INT,
    @SubjectID INT,
    @ExamTitle NVARCHAR(200),
    @ExamDate DATE,
    @StartTime TIME,
    @EndTime TIME,
    @DurationInMinutes INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Optional: Check if a similar exam already exists (excluding current one)
    IF EXISTS (
        SELECT 1 FROM Exams
        WHERE SubjectID = @SubjectID
        AND ExamDate = @ExamDate
        AND ExamTitle = @ExamTitle
        AND ExamID <> @ExamID
    )
    BEGIN
        RAISERROR('Another exam with the same title already exists on this date for the selected subject.', 16, 1);
        RETURN;
    END

    -- Update exam details
    UPDATE Exams
    SET 
        SubjectID = @SubjectID,
        ExamTitle = @ExamTitle,
        ExamDate = @ExamDate,
        StartTime = @StartTime,
        EndTime = @EndTime,
        DurationInMinutes = @DurationInMinutes
    WHERE 
        ExamID = @ExamID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateQuestion]    Script Date: 15-06-2026 13:24:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateQuestion]
    @QuestionID INT,
    @ExamID INT,
    @QuestionText NVARCHAR(MAX),
    @OptionA NVARCHAR(200),
    @OptionB NVARCHAR(200),
    @OptionC NVARCHAR(200),
    @OptionD NVARCHAR(200),
    @CorrectOption CHAR(1),
    @Marks INT
AS
BEGIN
    UPDATE Questions
    SET 
        ExamID = @ExamID,
        QuestionText = @QuestionText,
        OptionA = @OptionA,
        OptionB = @OptionB,
        OptionC = @OptionC,
        OptionD = @OptionD,
        CorrectOption = @CorrectOption,
        Marks = @Marks
    WHERE QuestionID = @QuestionID
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateSubject]    Script Date: 15-06-2026 13:24:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateSubject]
    @SubjectID INT,
    @SubjectName NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    -- Check if another subject with same name exists (excluding current)
    IF EXISTS (
        SELECT 1 FROM Subjects 
        WHERE SubjectName = @SubjectName 
        AND SubjectID <> @SubjectID 
        AND IsActive = 1
    )
    BEGIN
        RAISERROR('Another subject with the same name already exists.', 16, 1);
        RETURN;
    END

    -- Update subject name
    UPDATE Subjects
    SET SubjectName = @SubjectName
    WHERE SubjectID = @SubjectID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_VerifyLoginInfo]    Script Date: 15-06-2026 13:24:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_VerifyLoginInfo]
    @input_email VARCHAR(255),
    @input_password VARCHAR(255),
    @result INT OUTPUT,
    @admin_id INT OUTPUT
AS
BEGIN
    DECLARE @user_is_active INT;
    DECLARE @user_password VARCHAR(255);
    DECLARE @db_admin_id INT;

    -- Check if email exists and get password, isActive, and AdminID
    SELECT 
        @user_password = PasswordHash, 
        @user_is_active = IsActive, 
        @db_admin_id = AdminID
    FROM Admins
    WHERE Email = @input_email;

    -- Default admin_id to NULL
    SET @admin_id = NULL;

    -- If no user is found or password doesn't match
    IF @user_password IS NULL OR @user_password <> @input_password
    BEGIN
        SET @result = 0;  -- Incorrect email or password
    END
    ELSE IF @user_is_active = 0
    BEGIN
        SET @result = 1;  -- User is inactive
    END
    ELSE IF @user_is_active = 1
    BEGIN
        SET @result = 2;  -- User is active and login successful
        SET @admin_id = @db_admin_id;  -- Return AdminID
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_VerifyStudentLoginInfo]    Script Date: 15-06-2026 13:24:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_VerifyStudentLoginInfo]
    @input_email VARCHAR(255),
    @input_password VARCHAR(255),
    @result INT OUTPUT
AS
BEGIN
    DECLARE @user_is_active INT;
    DECLARE @user_password VARCHAR(255);
	DECLARE @user_StudentID INT;

    -- Check if email exists and get password and isActive status
    SELECT @user_password = PasswordHash, @user_is_active = isActive, @user_StudentID = StudentId
    FROM Students
    WHERE email = @input_email;

    -- If no user is found or password doesn't match
    IF @user_password IS NULL OR @user_password <> @input_password
    BEGIN
        SET @result = 0;  -- Incorrect email or password
    END
    ELSE IF @user_is_active = 0
    BEGIN
        SET @result = 0;  -- User is inactive
    END
    ELSE IF @user_is_active = 1
    BEGIN
        SET @result = @user_StudentID;  -- User is active
    END
END;
GO
USE [master]
GO
