<?xml version="1.0"?>
<configuration>

	<!-- Allow anonymous access to Login.aspx inside Student folder -->
	<location path="Login.aspx">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>

	<!-- All other pages require Student role -->
	<!--<system.web>
		<authorization>
			<allow roles="Student" />
			<deny users="*" />
		</authorization>
	</system.web>-->

</configuration>

